body {
  font-size: 62.5%;
  font-family: georgia, serif;
  background-color: #F0F0F0;
}

body {
  padding: 0;
  margin: 0;
  width: 100em;
}

p, a, span, td, th {
  font-size: 1.2em;
}

ul.structural {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul.structural li {
  display: inline;
}

.clearfix {
  display:block;
  clear:both;
}

/* LINKS */
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* HEADER */

div#header {
  background-color: #E0E0E0;
  padding: 1em 2em 1em 2em;
  height: 7em;
}

div#logo {
  float: left;
}
div#logo a {
  text-decoration: none;
}

ul.actions li {
  padding: 0em 0.5em 0em 0.5em;
}
ul.actions li a {
  color: black;
  text-decoration: none;
}
ul.actions li a:hover {
  text-decoration: underline;
}

ul#site_actions {
  float: left;
}

ul#account_actions {
  float: right;
  display: block;
}

ul#user_actions {
  float: right;
}


/* BODY */

div#body {
  padding: 0em;
}

div#left_column, div#right_column {
  width: 20em;
  display: inline-block;
  padding: 1em;
}
div#content {
  display: inline-block;
}

div#left_column {
  float: left;
}

div#right_column {
  float: right;
}



div#body.two-columns div#content {
  width: 78em;
}
div#body.two-columns div#right_column {
  display: none;
}